body {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: 'Arial'; */
  background-color: black;
  color: greenyellow;
  height: 100vh;
  /* border: 2px solid red; */
  margin: auto;

}

main {
  display: flex;
  flex-direction: column;
  width: 60vw;
  /* border: 2px solid blue; */
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 25px
}

.classic-mode {
  display: flex;
  text-align: center;
  justify-content: center;

}

.classic-box {
  margin-top: 1vh;
  width: 20vw;
  padding-top: 35px;
  border: 2px double greenyellow;
  gap: 2px;

}

.difficult-mode {
  display: flex;
  text-align: center;
  justify-content: center;
}

.difficult-box {
  margin-top: 5vh;
  width: 20vw;
  padding-top: 35px;
  border: 2px double greenyellow
}

.player-box {
  border: 2px double greenyellow;
  position: absolute;
  top: 5vw;
  left: 4vw;
  width: 200px;
  padding: 10px;
}

.change-game-button {
  background-color: greenyellow;
  color: black;
  cursor: pointer;
  transition: transform 1.2s ease-out;
  width: 120px;
  border: none;
}

.change-game-button:hover {
  transform: scale(1.075);
}

.playbuttons {
  background-color: greenyellow;
  color: black;
  cursor: pointer;
  transition: transform 1.2s ease-out;
  width: 90px;
  border: none;
}

.playbuttons:hover {
  transform: scale(1.2);
}

#player-wins-total {
  font-size: 30px;
}

.computer-box {
  border: 2px double greenyellow;
  position: absolute;
  top: 5vw;
  right: 4vw;
  width: 200px;
  padding: 10px;
}

#computer-wins-total {
  font-size: 30px;
}

.classic-mode-view {
  display: flex;
  justify-content: center;
  gap: 3vw;
  border: 2px solid yellowgreen;
  align-items: center;
  width: 60vw;
  height: 30vw;
  text-align: center;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.25;
}

.game-button {
  cursor: pointer;
  transition: transform 1.75s ease-out;
}

.game-button:hover {
  transform: rotate(360deg);
}

